html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }
.navbar {
    border-right: 3px solid hsl(228, 2%, 60%);
    padding: 10px 0;
    position: fixed;
    max-width: 290px;
    top: 0;
    left: 0;
    height: 100%;
}
header {
    padding-left: 10px;
}
.navbar ul {
    display: flex;
    flex-direction: column;
}
.navbar ul li {
    border-bottom: 1px solid black;
}
.navbar ul li:last-child {
    border-bottom: none;
}
.main {
    font-size: 28px;
    font-weight: 500;
    color: black;
}
.navbar a {
    padding: 10px;
    color: hsl(228, 2%, 46%);
}
.content {
    padding: 20px;
    position: absolute;
    margin-left: 310px;
}
.content section p {
    color: 	#696969;
    margin: 20px 0 20px 15px;
}
.content section span {
    display: block;
    color: #000;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content section ul {
    list-style-type: disc;
    margin: 15px 0 15px 70px;
    color: 	#696969;
}
.content section ul li:not(:last-child) {
    margin-bottom: 20px;
}
.content section ul li ul {
    list-style-type: circle;
}
.content section code pre {
    background-color: #f7f7f7;
    white-space: pre-line;
    padding: 15px;
    margin: 15px 0;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 2;
}
.reference a {
    text-decoration: underline;
    color: blue;
}
@media (max-width: 860px) {
    .navbar {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        max-width: 100%;
        margin: 0 15px;
        padding: 0;
        border-right: none;
    }
    .navbar ul {
        max-height: 300px;
        overflow: auto;
        border: 2px solid rgba(0, 0, 0, 0.7);
    }
    .content {
        margin-left: 0;
        margin-top: 370px;
    }
    .main {
        text-align: center;
        margin-bottom: 15px;
    }
    .navbar ul li {
        width: 100%;
    }
}
@media (max-width: 385px) {
    body {
        font-size: 16px;
    }
    .content {
        padding: 10px;
    }
    .content section p {
        margin-left: 0;
    }
    .content section ul {
        margin-left: 20px;
    }
    .content section code pre {
        padding: 10px 0 10px 5px;
    }
}